@charset "UTF-8";

.card {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #d0d0d0;
    -fx-border-width: 1;
    -fx-padding: 10;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 8, 0.2, 0, 2);
}